#gameArea {
	perspective:2300px;
}

#grillVertical {
	position:absolute;
	left:100px;

	width:900px;
	height: 900px;
}
#grillHorizontal{
	position:absolute;
	left:150px;
	width:900px;
	height: 900px;
	background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(224,147,32,1) 57%, rgba(254,182,69,1) 99%, rgba(254,182,69,1) 100%);
	border: 10px solid #634e18;
}

.grillLayer{
	position: absolute;
	/*background-color: RGBA(30,30,30,0.1);
*/
	width:900px;
	height: 900px;

}

.noMouse{
	pointer-events:none;
}

.tileDiv{
	position:absolute;
	width: 0px;
	height:0px;
}

.tileImg{

	position:absolute;
	width: 70px;
	height: 62px;
	left:-35px;
	top:-31px;
	
}
.tileText{
	position:absolute;
	top:-8px;
	left: -5px;
	font-size: 14px;

}

.character{
	position:absolute;
	width:42px;
	height: 42px;
	border-radius: 50%;
	background-color: RGBA(230,190,40,0.7);
}

.charDiv{
	position:absolute;
	width:46px;
	height:46px;
	border-radius: 50%;
	background-color: RGBA(230,110,120,0.9);
}

.charImg{
	position:absolute;
	width: 40px;
	height: 48px;
	left:2px;
	top:-5px;
}

.iconImg{
	position:absolute;
	width: 40px;
	height: 40px;
	opacity: 0.4;
}

.glaciatorMainContainer{
	position:absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(28,28,28,1) 0%, rgba(28,28,28,1) 37%, rgba(102,102,102,1) 49%, rgba(212,42,42,1) 50%, rgba(102,102,102,1) 51%, rgba(28,28,28,1) 65%, rgba(28,28,28,1) 100%);
  border: 2px solid black;
}

.movementView{
  position:absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(28,28,28,1) 0%, rgba(28,28,28,1) 37%, rgba(102,102,102,1) 49%, rgba(212,42,42,1) 50%, rgba(102,102,102,1) 51%, rgba(28,28,28,1) 65%, rgba(28,28,28,1) 100%);
  border: 2px solid black;
  opacity: 0.3;
}

.gladiadorSVG{
	width: 100px;
  height: 100px;
}